html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background: #080808;
}

.screen_field{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    height: 100%;
}

.header{
    height: 10%;
}

.game_screen{
    border: 3px solid white;
}

.up_divider{
    height: 30%;
}

.hud{
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.hp_bar{
    width: 15%;
}

.energy_bar{
    width: 30%;
}