.block{
    width: 100px;
    height: 100px;
    background: black;
    position: absolute;
}

html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background: #080808;
}

.screen_field{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    height: 100%;
}

.header{
    height: 10%;
}

.game_screen{
    height: 70%;
    border: 3px solid white;
}